APP_NAME="N Wallet"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080
APP_TIMEZONE=UTC

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mongodb
MONGO_URI=mongodb://root:rootpass@mongo:27017
MONGO_DATABASE=nwallet

SESSION_DRIVER=file
SESSION_LIFETIME=120

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

CACHE_STORE=file

JWT_SECRET=
JWT_TTL=1440

FACE_SERVICE_URL=http://face_service:8001
FACE_MATCH_THRESHOLD=0.55
BEACON_RSSI_THRESHOLD=-70
BEACON_STABILITY_SECONDS=8

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=nwallet.2002@gmail.com
MAIL_PASSWORD=orvuywcdwwmcktxw
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=nwallet.2002@gmail.com
MAIL_FROM_NAME="N Wallet"

OTP_DEV_MODE=false
OTP_EXPIRY_SECONDS=300
OTP_RESEND_COOLDOWN_SECONDS=60
OTP_MAX_ATTEMPTS=5
